.nex{
    color: tomato;
}
.Group-243 {
    width: 100%;
    height: 1080px;
    object-fit: contain;
    opacity: 0.49;
    background: url('../../../assets/group-243.png');  
    
background-color:#020707
  }