 
.Group-243 {
    width: 100%;
    height: 800px;
    object-fit: contain;
    /* opacity: 0.49; */
    /* background: url('../../../assets/group-243.png') !important; */
    /* background-image: linear-gradient(to top, #0f3062, #292145, #27152a, #1b0c16, #000000); */
    background-image: linear-gradient(to top,  rgb(35, 58, 65),#042938ce,#070d0de0,#070d0d),url('../../../assets/group-243.png');
    /* background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52),  rgba(117, 19, 93, 0.73)),url('../../../assets/group-243.png'); */
    background-color: #020707
}

.Icon-awesome-keyboard {
    width: 137.2px;
    height: 156.1px;
    /* opacity: 0.64; */
    background-color: var(--light-red);
    margin-top: 5%;
}
.fast-fingers {
    width: 396px;
    height: 81px;
    font-family: LaserCorpsGradient;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--light-red);
    text-align:center;
    color: #ff5155;
  }
  .ultimate{
    color: #ff5155;
  }
  .className{
      text-align: center;
  }
  .Rectangle-2 {
    width: 456px;
    height: 60px;
    /* opacity: 0.59; */
    border-radius: 15px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    font-size: 33px;
    text-align: left;
    color: #032228;
    font-family: Breamcatcher;
    font-size: 20px;
    padding-left: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;

  }
   
  .the-ultimate-typing-game {
   
    font-family: Gotham;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ff5155;
    text-align: center;
  }
  .Rectangle-5 {
    /* width: 456px; */
    height: 60px;
    border-radius: 15px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    border: solid 1px #ffffff;
    margin-top: 10px;
    background-color: transparent;
    padding-left: 10px;
    font-family: Breamcatcher;
    font-size: 25px!important;
    /* color: white; */
  }
  
  .Rectangle-6 {
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    font-size: 22px;
    color: #032228;
  }
  .levelname{
    color: #97a5a7 !important;
  }

  .start-game {
     height: 48px;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    font-family: Gotham;
    font-size: 31px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #ff5155;
    cursor: pointer;
    margin-top: 25px;
  }
  .Icon-awesome-play {
    /* width: 36.2px;
    height: 41.4px; */
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--light-red);
  }